<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sawallianc.order.dao.OrderDAO">
    <resultMap id="baseMap" type="com.sawallianc.order.module.OrderDO">
        <id column="id" property="id"/>
        <result property="orderId" column="order_id"/>
        <result property="phone" column="phone_number"/>
        <result property="rackUUID" column="rack_uuid"/>
        <result property="goodsTotalPrice" column="goods_total_price"/>
        <result property="goodsSettlePrice" column="goods_settle_price"/>
        <result property="benefitPrice" column="benefit_price"/>
        <result property="randomBenefitPrice" column="random_benefit_price"/>
        <result property="orderState" column="order_state"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <resultMap id="detailMap" type="com.sawallianc.order.module.OrderDetailDO">
        <id column="id" property="id"/>
        <result property="orderId" column="order_id"/>
        <result property="goodsId" column="goods_id"/>
        <result property="number" column="goods_number"/>
        <result property="price" column="price"/>
        <result property="phone" column="phone"/>
        <result property="rackUuid" column="rack_uuid"/>
    </resultMap>

    <sql id="baseSql">
        id,order_id,phone_number,rack_uuid,goods_total_price,goods_settle_price,benefit_price,random_benefit_price,order_state,is_deleted,gmt_created,gmt_modified
    </sql>

    <sql id="detailSql">
        id,order_id,goods_id,goods_number,price,phone,rack_uuid
    </sql>

    <insert id="makeOrder" parameterType="com.sawallianc.order.module.OrderDO" useGeneratedKeys="true" keyProperty="id">
        insert into order_info(order_id,phone_number,rack_uuid,goods_total_price,goods_settle_price,benefit_price,random_benefit_price,order_state,is_deleted,gmt_created)values
        (#{orderId},#{phone},#{rackUUID},#{goodsTotalPrice},#{goodsSettlePrice},#{benefitPrice},#{randomBenefitPrice},0,0,now())
    </insert>

    <insert id="makeOrderDetail" parameterType="java.util.List">
        insert into order_details(order_id, goods_id, goods_number, price,phone,rack_uuid)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.orderId},#{item.goodsId},#{item.number},#{item.price},#{item.phone},#{item.rackUuid})
        </foreach>
    </insert>

    <select id="queryOrderInfo" resultMap="baseMap">
        select <include refid="baseSql"/>
        from order_info
        where phone_number=#{phone}
        order by gmt_created desc
    </select>

    <select id="queryOrderDetailInfo" resultMap="detailMap">
        select <include refid="detailSql"/>
        from order_details
        where phone=#{phone}
        order by price desc
    </select>

    <select id="queryPayedWeixinOrderIds" resultType="java.lang.String">
        select weixin_order_id from order_info
        where is_deleted=0
        and order_state=1
        and gmt_created BETWEEN DATE_ADD(NOW(),INTERVAL -1 DAY) and now()
    </select>

    <update id="updateOrderState2Succeed">
        update order_info set order_state=1,weixin_order_id=#{weixinOrderId}
        where order_id=#{orderId}
    </update>
</mapper>