<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sawallianc.rack.dao.RackDAO">
    <resultMap id="baseMap" type="com.sawallianc.rack.module.RackDO">
        <id column="id" property="id"/>
        <result property="uuid" column="uuid"/>
        <result property="bizmanId" column="bizman_id"/>
        <result property="replenishmanId" column="replenishman_id"/>
        <result property="rackName" column="rack_name"/>
        <result property="rackAddress" column="rack_address"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <sql id="baseSql">
        id,uuid,bizman_id,replenishman_id,rack_name,rack_address,is_deleted,gmt_created,gmt_modified
    </sql>

    <select id="findAllRack" resultMap="baseMap">
        select <include refid="baseSql"/>
        from rack_info order by gmt_modified desc;
    </select>

    <select id="findAllAvaliableRack" resultMap="baseMap">
        select <include refid="baseSql"/>
        from rack_info
        where is_deleted = 0
        order by gmt_modified desc;
    </select>

    <select id="findAllDisableRack" resultMap="baseMap">
        select <include refid="baseSql"/>
        from rack_info
        where is_deleted = 1
        order by gmt_modified desc;
    </select>

    <select id="getRackByUUID" resultMap="baseMap">
        select <include refid="baseSql"/>
        from rack_info
        where uuid = #{uuid}
        order by gmt_modified desc;
    </select>
</mapper>