<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sawallianc.user.dao.ChargeRecordInfoDAO">
    <resultMap id="baseMap" type="com.sawallianc.user.module.ChargeRecordInfo">
        <id column="id" property="id"/>
        <result property="phone" column="phone"/>
        <result property="chargeAmount" column="charge_amount"/>
        <result property="chargeMethod" column="charge_method"/>
        <result property="bonusAmount" column="bonus_amount"/>
        <result property="chargeDate" column="charge_time"/>
    </resultMap>

    <sql id="baseSql">
        id,phone,charge_amount,charge_method,bonus_amount,charge_time
    </sql>

    <insert id="insertChargeRecordInfo" parameterType="com.sawallianc.user.module.ChargeRecordInfo">
        insert into charge_record_info (phone,charge_amount,charge_method,bonus_amount,charge_time)
        VALUES
        (#{phone},#{chargeAmount},#{chargeMethod},#{bonusAmount},#{chargeDate})
    </insert>

    <insert id="insertChargeSucceedRecord4Weixin" parameterType="com.sawallianc.user.module.ChargeSucceedRecord">
        insert into charge_succeed_record(weixin_order_id,happen_time)
        VALUES
        (#{weixinOrderId},now())
    </insert>

    <insert id="insertChargeSucceedRecord4Alipay" parameterType="com.sawallianc.user.module.ChargeSucceedRecord">
        insert into charge_succeed_record(alipay_order_id,happen_time)
        VALUES
        (#{alipayOrderId},now())
    </insert>

    <select id="queryIfRecordWeixinOrderId" resultType="java.lang.Integer">
        select 1 from charge_succeed_record
        where weixin_order_id=#{weixin}
    </select>

    <select id="queryIfRecordAlipayOrderId" resultType="java.lang.Integer">
        select 1 from charge_succeed_record
        where alipay_order_id=#{alipay}
    </select>

</mapper>