<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sawallianc.user.dao.UserDAO">
    <resultMap id="baseMap" type="com.sawallianc.user.module.UserDO">
        <id column="id" property="id"/>
        <result property="phone" column="phone"/>
        <result property="openid" column="openid"/>
        <result property="unionid" column="unionid"/>
        <result property="alipayId" column="alipayid"/>
        <result property="balance" column="balance"/>
        <result property="weixinPic" column="weixin_pic"/>
        <result property="alipayPic" column="alipay_pic"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>

    <sql id="baseSql">
        id,phone,openid,unionid,alipayid,balance,weixin_pic,alipay_pic,is_deleted,gmt_created,gmt_modified
    </sql>

    <select id="queryUserByType" resultMap="baseMap">
        select <include refid="baseSql"/>
        from user_info
        <choose>
            <when test="type==1">
                where phone=#{value}
            </when>
            <when test="type==2">
                where alipayid=#{value}
            </when>
            <when test="type==3">
                where openid=#{value}
            </when>
        </choose>
    </select>

    <insert id="addUser" parameterType="com.sawallianc.user.module.UserDO">
        insert into user_info(phone,openid,unionid,alipayId,balance,alipay_pic,weixin_pic,is_deleted,gmt_created)
        VALUES
        (#{phone},#{openid},#{unionid},#{alipayId},0.00,#{alipayPic},#{weixinPic},0,now())
    </insert>

    <update id="charge">
        update user_info set balance=balance+#{chargeAmount}+#{bonusAmount},
        gmt_modified=now()
        where phone=#{phone}
    </update>

    <update id="purchase">
        update user_info set balance=balance-#{price},
        gmt_modified=now()
        where phone=#{phone}
    </update>
</mapper>